@use './variables' as v;

body {
    background-color: #2C2C2C;
    font-family: v.$font-family-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    overflow-x: hidden;
}

input[type="date"]::-webkit-datetime-edit {
    color: v.$primary-color;
}