@use '../mixins' as m;
@use '../variables' as v;

.cargoForm,
.autoForm {
    @include m.form-step-base(column, 1rem 2.2rem, 70rem);
    @include m.margin-center;
    padding-top: 3.5rem;
    max-width: v.$max-width;

    &__section {
        display: flex;
        justify-content: space-between;
        position: relative;

        &::before {
            @include m.line(-1rem, v.$noactive-color);
        }

        &::after {
            @include m.line(16.125rem, v.$noactive-color);
        }
    }

    &__label {
        @include m.margin-center;
        margin-bottom: 2.8rem;

        &-text {
            font-weight: 700;
        }
    }

    &__photo {
        width: 90%;
    }

    &__input {
        @include m.input-base;

        &--weight,
        &--volume {
            max-width: 6rem;
        }

        &--address {
            width: 19rem;
        }

        &-group {
            @include m.box-overflow-y;
            margin-top: 0.5rem;
        }

        &--img {
            max-width: 20rem;
        }
    }
}

.cargo,
.auto,
.cargoList,
.autoList {
    margin-bottom: 2rem;

    &__title {
        text-align: center;
        font-size: 2.875em;
        color: v.$primary-color;
    }

    &__btnBox {
        display: flex;
        justify-content: center;
    }

    &__button {
        @include m.button(v.$primary-color, v.$font-light-color);
        // width: 70%;
        margin-top: 5rem;
    }
}