@use '../variables' as v;
@use '../mixins' as m;

.formGroup {
    display: flex;
    gap: 5rem;
    text-align: left;
    @include m.margin-center;
    margin-bottom: 2.2rem;

    & span {
        width: 11rem;
        font-weight: 700;
        height: 1rem;
        align-self: center;
    }

    &__group {
        width: 50rem;
        display: flex;
        gap: 2.2rem;

        &--img {
            display: flex;
            flex-direction: column;
        }
    }
}