@use '../mixins' as m;
@use '../variables' as v;

.popup, .popupWithInput {
    position: fixed;
    top: 8%;
    left: 27%;
    z-index: 999;
    width: 50rem;

    @include m.form-step-base(column, 1rem 2.2rem, 40rem);

    &__icon {
        text-align: right;
    }

    &__text {
        margin-bottom: 1rem;
        max-height: 30rem;
        overflow-y: auto;
        scrollbar-width: thin;

        &-item {
            @include m.center;
            align-items: center;
            gap: 1rem;
        }

        &-title {
            font-weight: 700;
            color: v.$font-dark-color;
        }

    }

    &__buttons {
        @include m.center;
        gap: 1rem;
    }

    &__button {
        @include m.button(v.$primary-color, v.$font-light-color)
    }

    &__inputBox {
        @include m.center;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;

        &-input {
            @include m.input-base;
        }
    }
}