@use '../mixins' as m;
@use '../variables' as v;

.topbar {
    z-index: 1000;
    width: 100%;
    margin-bottom: 2.2rem;
    height: 3.75rem;
    border-bottom: 1px solid v.$active-color;
    border-radius: v.$border-radius;
    color: v.$font-light-color;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    &__menu {
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 0.5rem;

        &-item {
            position: relative;

            &.is-active &__menu-icon {
                transform: rotate(180deg);
            }
        }

        &-link {
            padding: 10px 15px;
            color: v.$font-light-color;
            text-decoration: none;
            @include m.transition(all);

            &:hover {
                border-top: 1px solid v.$active-color;
                border-radius: 0;
                color: v.$active-color;
            }
        }
    }

    &__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 12.5rem;
        box-shadow: 10px 8px 29.2px 0px v.$box-shadow-color;
        border-radius: v.$border-radius;
        list-style: none;
        padding: 0.5rem 0;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        z-index: 100;

        .topbar__menu-item.is-active & {
            opacity: 1;
            visibility: visible;
            background-color: v.$font-dark-color;
            transform: translateY(0);
        }

        &-item {
            padding: 0;
        }

        &-link {
            display: block;
            padding: 0.5rem 1rem;
            color: v.$font-light-color;
            text-decoration: none;
            @include m.transition(all);

            &:hover {
                background: v.$active-color;
            }
        }
    }

    &__auth {
        display: flex;
        align-items: center;
        gap: 1rem;

        &-wrapper {
            margin-left: auto;
        }

        &-link {
            padding: 0.5rem 1rem;
            color: v.$font-light-color;
            text-decoration: none;
            @include m.transition(all);

            &:hover {
                border-top: 1px solid v.$active-color;
                border-radius: 0;
                color: v.$active-color;
            }

            &--primary {
                background: v.$active-color;
                border-radius: v.$border-radius;

                &:hover {
                    transform: scale(1.05);
                    color: v.$font-light-color;
                    border-radius: v.$border-radius;
                }
            }
        }
    }

    &__profile {
        position: relative;

        &-btn {
            background: none;
            border: none;
            cursor: pointer;
        }

        &-menu {
            position: absolute;
            right: 0;
            top: 100%;
            background: v.$font-dark-color;
            box-shadow: 10px 8px 29.2px 0px v.$box-shadow-color;
            border-radius: v.$border-radius;
            padding: 0.5rem 0;
            min-width: 9rem;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            z-index: 100;
            @include m.transition(all);

            .topbar__profile:hover & {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        &-link {
            font-size: 1rem;
            display: block;
            padding: 10px 15px;
            color: v.$font-light-color;
            text-decoration: none;
            text-align: left;
            width: 100%;
            background: none;
            border: none;
            cursor: pointer;
            @include m.transition(all);

            &:hover {
                background: v.$active-color;
            }
        }
    }

    &__mobile {
        &-toggle {
            display: none;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0.5rem;
        }

        &-menu {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: v.$font-dark-color;
            transform: translateY(120%);
            overflow-y: hidden;
            z-index: 999;
            padding: 1rem;
            box-sizing: border-box;
            width: 100%;
            max-height: 70%;
            margin: 0 auto;
            border-top-right-radius: 2rem;
            border-top-left-radius: 2rem;
            @include m.transition(all);
            box-shadow: 10px 8px 29.2px 0px v.$box-shadow-color;

            &.is-open {
                transform: translateY(0);
            }
        }

        &-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-nav {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            margin-top: 2.2rem;
        }

        &-item {
            margin-bottom: 2.2rem;
            position: relative;
            width: 100%;
        }

        &-list {
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &-link {
            width: 100%;
            color: v.$font-light-color;
            text-decoration: none;
            background: none;
            border: none;
            cursor: pointer;
            margin: 1rem 0;

            &::after {
                @include m.line(2.2rem, v.$active-color);
            }

            &.is-active {
                color: v.$active-color;
                margin-bottom: 0;

                &::after {
                    top: 110%;
                }

                .topbar__mobile-icon {
                    transform: rotate(180deg);
                }
            }
        }

        &-sublist {
            list-style: none;
            padding: 0;
            margin: 0;
            max-height: 0;
            display: none;
            height: 0;

            &.is-open {
                display: inline-block;
            }
        }

        &-sublink {
            display: block;
            padding: 0.5rem 1rem;
            color: v.$font-light-color;
            text-decoration: none;
            @include m.transition(all);

            &:hover {
                color: v.$active-color;
            }
        }

        &-auth {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-authLink {
            padding: 1rem;
            text-align: center;
            background-color: v.$active-color;
            color: v.$font-light-color;
            text-decoration: none;
            border-radius: v.$border-radius;
            border: none;
            font-size: 1rem;
            @include m.transition(all);

            &:hover {
                background-color: v.$primary-color;
            }

            &--primary {
                background-color: v.$primary-color;
                color: v.$font-light-color;
                border: none;

                &:hover {
                    background: v.$active-color;
                }
            }
        }
    }

    .mobile__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        z-index: 998;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;

        &--show {
            opacity: 1;
            visibility: visible;
        }
    }

    @media (max-width: 992px) {
        &__nav {
            display: none;
        }

        &__mobile-toggle {
            display: block;
        }

        &__auth {
            display: none;
        }
    }

    @media (min-width: 993px) {
        &__mobile-menu {
            display: none;
        }
    }
}