@use "../mixins" as m;
@use "../variables" as v;

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 2.2rem;
    border-bottom: 1px solid v.$active-color;
    padding-bottom: 0.5rem;

    &__list {
        display: flex;
        justify-content: start;
        list-style-type: none;
        flex-grow: 1;
        padding: 0;

        &-item a {
            text-decoration: none;
            color: v.$font-light-color;
            white-space: nowrap;
            cursor: pointer;
            border-radius: v.$border-radius;
            padding: 1rem 2.2rem;
            transition: all .3s;
            margin-right: 0.2rem;
        }

        &-item a:hover {
            background-color: v.$active-color;
            color: v.$font-light-color;
        }
    }

    &__buttonBox {
        @include m.center;
        gap: 1rem;

        &-btn {
            @include m.button(v.$primary-color, v.$font-light-color);
            text-decoration: none;
        }
    }

    &__profile {
        @include m.center;
        gap: 1rem;
        color: v.$font-light-color;

        &-text {
            @include m.center;
            flex-direction: row;
            gap: 1rem;
        }
    }
}